*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url(MYK.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f90040;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: #f90040;
    transition: .4s;
}
.btn{
    background-color: #f90040;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
    transition: transform .4s;
}

.btn:hover{
    transform: scale(1.5);
}

.content{
    position: absolute;
    top: 40%;
    left:9%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 35px;
}

h3{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f90040;
    outline: none;
    border-radius: 30px;
}
h4{
    color:coral;
    font-size: large;
}

.newslatter form input:last-child{
    display: inline-block;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: #f90040;
    padding: 10px 30px;
    color: white;
    top: 6px;
    right: 6px;
    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;
}
/* 
.about{
    width: 100%;
    padding: 100px 0px;
    background-color:#A09659;
}

.about img{
    height: auto;
    width: 380px;
    margin-left: -160px;    
}
.about .text{
    width: 550px;
}

.about-text{
    margin-left: 80px;
    padding: 100px;
}

.main{
 width:1130px;
 max-width: 95%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-around;   
}

.about h2{
    color: white;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 3px;
    font-size: 23px;
    margin-bottom: 23px;
    text-transform: capitalize;
}

.about-text p{
    color: #fcfc;
    letter-spacing: 1.2px;
    line-height: 25px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f90040;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition:.4s;
}

button:hover{
    background-color:transparent;
    border: 2px solid #f90040;
    cursor: pointer;
}

.service{
    background: #A08545;
    width: 100%;
    padding: 100px 0px;
}
.title h2{
    color: whitesmoke;
    font-size: 77px;
    width: 1133px;
    margin:30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 360px;
    width: 335px;
    padding: 20px 35px;
    background: #A09659;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    
}

h5{
    color:whitesmoke;
    font-size: 23px;
    margin-bottom: 15px;
} */

.mained{
    background-color: #A09659;
    font-size: larger;
}

.mained>h2{
    color: #000;
    font-size:x-large;
    font-weight:700;
    position: relative;
    left: 6%;
    top: 40px;
    font-style: italic;
}

.education{
    display: grid;
    position: relative;
    top: 40px;
    left: 130px;
    width: 100%;
    height: 300px;
    grid-template-columns: 500px 500px 500px;
    justify-content: center;
}

.education>div{
    padding: 40px;
}
.education>div>p{
    padding: 10px;
    font-style: italic;
}

.skills{
    background-color:#9E8F52;
    font-size: larger;
    width: 100%;
    height: 675px;
}

.skills>h2{
    position: relative;
    top: 8%;
    left: 10%;
    font-style: italic;
    
}
.skill-section h4{
    background-color: #f90040;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid transparent;
    border-radius: 30px;
    padding: 10px 20px;
    transition: transform .4s;
    margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 10px;
    width: fit-content;
    font-style: italic;
}

.skill-section{
    display: grid;
    grid-template-columns: 400px 400px 400px;
    position: relative;
    top: 13%;
    left: 8%;
    grid-column-gap: 100px;
}

.s1{
    display: block;
}

.s1>ul{
    position: relative;
    left: 10%;
}

ul li{
    padding: 10px;
}

ul li{
    list-style-type: none;
}

.projects{
    background-color:#A09659;
    font-size: larger;
    width: 100%;
    height: 685px;
}
.projects>h2{
    position: relative;
    top: 2%;
    left: 8%;
    font-style: italic;
}
.project-list{
    position: relative;
    top: 10%;
    left: 14%;
    display: grid;
    grid-template-rows: 200px 200px;
}
 #sp{
    padding: 10px;
 }
.certificates>h2{
    color: #000;
    font-size:x-large;
    font-weight:700;
    position: relative;
    left: 6%;
    font-style: italic;
    top: 40px;
}

.certificates{
    width: 100%;
    height: 350px;
}

.cert1{
    position: relative;
    top: 20%;
    left: 10%;
}

.cert2{
    position: relative;
    top: 20%;
    left: 10%;
}

.details{
    width: 100%;
    height: 300px;
    text-align: center;
    display: grid;
    grid-template-rows: 150px 150px;
    grid-template-columns: 50% 50%;
    background-color: #9E8F52;
}
.details>div>a>i{
    width: 100px;
    height: 100px;
}

.details>div>a>i:hover{
    width: 100px;
    height: 100px;
    transform: scale(1.5);
}


.details>div>h4{
    padding: 25px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details>div>p{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.details>div{
    padding: 50px;
}
.end{
    position: relative;
    top: 5%;
    left: 50%;
}

.end h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#up{
    position: relative;
    left: 10px;
    top: 5px;
}